* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    margin: 0;
}

header {
    background-color: #4d148c;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5em;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-right: 2em;
}

a:hover {
    text-decoration: underline;
}

.logo {
    cursor: pointer;
    height: 25px;
    width: 84px;
    margin-left: 15em;
}

.nav-section1 {
    width: 31%;
    margin-left: 1em;
}
.nav-section2{
    width: 9em;
    height: 3em;
    text-align: center;
    margin-left: 10em;
}
.nav-text2 li {
    list-style: none;
    display: inline-block;
}

.nav-text1 li {
    display: inline-block;
}

.down-arrow-logo {
    height: 7px;
}
.nav-logo-last{
    height: 35px;
    margin-right: 1.6em;
}
.nav-logo-last:hover{
    cursor: pointer;
}
.image-section {
    background-image: url('/images/top-big-image.jpg');
    background-size: 100% 100%;
    height: 23em;
    margin-top: 4.5em;
}

.third-section {
    height: 13em;
    width: 100%;
    padding-top: 3em;
}

.icons-bottom-section {

    height: 43em;
    width: 100%;
}

.text-over-image-big {
    text-align: left;
    color: #FFFFFF;
    line-height: 3px;
    letter-spacing: -1.8px;
    max-width: 415px;
    font-size: 44px;
    padding-left: 6em;
    padding-top: 3em;
    font-weight: 300;
}

.text-over-image-small {
    text-align: left;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 23px;
    margin-left: 17em;
    font-weight: 400;
}

.third-section-heading-text {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 1.5em;
}

.orange-button {
    background-color: #ff6200;
    text-align: center;
    padding: 19px 30px;
    color: #fff;
    max-width: 280px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0.05px;
    border: 0;
}

.orange-button:hover {
    cursor: pointer;
}

.icons-heading-div {
    text-align: center;
}

.icons-section-main-heading {
    font-weight: 300;
    line-height: 2.15;
    color: #333;
    font-size: 33px;
    width: 72%;
    border-bottom: 1px solid rgba(43, 40, 40, 0.5);
    margin-left: 6em;
    padding-bottom: 1.4em;
}

.icons-main-div {
    margin-left: 11.5em;
    width: 75%;
    height: 29em;
}

.icons-first-div {
    height: 14em;
    width: 100%;
}

.icons-bottom-div {
    height: 14em;
    width: 100%;
}

.picture-icon {
    height: 4.1em;
}

.icons-first-div,
.icons-bottom-div {
    display: flex;
    vertical-align: top;
    color: #333;
    text-align: center;
}

.icons-first-div {
    padding-left: 3em;
    padding-top: 1em;
}

.icon-text {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.1;
    list-style: none;
}

.icon-para {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

}

.forth-section {
    background-color: #fafafa;
    height: 19.5em;
    width: 100%;
    padding-left: 12em;
    padding-top: 2em;
}

.forth-section-inside-div1 {
    display: flex;
    width: 70%;
    height: 15em;
}

.forth-section-ul {
    list-style: none;
    margin-right: 4.6em;
}

.li-heading {
    color: #4d148c;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .75px;
    margin-bottom: 9px;
}

.li-text {
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 300;
    line-height: 25px;
}

.li-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hr-bottom {
    width: 13em;
    color: rgba(53, 49, 49, 0.5);
}

.forth-section-inside-div2 {
    height: 4em;
    width: 70%;
    display: flex;
}

.follow-fedex-heading {
    color: #4d148c;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .75px;
    margin-left: 4em;
    margin-top: 2em;

}

.social-logo {
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(53, 49, 49, 0.5);
    margin-left: 9px;
    margin-top: 8px;
    padding: 5px;
}

.social-logo:hover {
    cursor: pointer;
}

.footer {
    background-color: #4d148c;
    height: 3.7em;
}

.footer-inside-div {
    width: 68%;
    height: 3.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 14em;
}

.footer-text1 {
    color: #fff;
    text-transform: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: normal;
}

.footer-text2-div {
    display: flex;
}

.footer-text-linebetween {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-text2 {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
}

.footer-text2:hover {
    cursor: pointer;
    text-decoration: underline;
}